---
// import Firebase from "../layouts/Firebase.astro";
import Firebase from '../components/Firebase.vue';
import Layout from '../layouts/Layout.astro';
import Kv from '../components/Kv.astro';
import Works from '../components/Works.vue';
import Careers from '../components/Careers.vue';
import AboutMe from '../components/AboutMe.astro';
import Policy from '../components/Policy.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';

---

<Layout title="Visibleman LP for MENTA.">
  <main>
    <Kv/>
    <AboutMe/>
    <Policy/>
    <Skills/>
    <Firebase client:idle />
    <Works client:idle />
    <Careers client:idle />
    <Contact />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  p + p {
    margin-top: 0.5rem;
  }
</style>
