---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Visibleman LP for MENTA.">
  <main>
    <div class="key-visual container">
      <h1><span class="text-gradient">Visibleman</span></h1>
      <h2>Web Frontend Developper</h2>
      <p class="name">根岸周一</p>
    </div>
    <div class="instructions">
      <div class="container">
        <h3>About Me</h3>
        <p>
          2019年からフリーランスのフロントエンドエンジニアとして活動しております。 <code>src/pages</code> in your project.<br />
          <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
        </p>
      </div>
    </div>
    <ul role="list" class="link-card-grid container">
      <Card
        title="High Performance - 高速化"
        body="パフォーマンスとして表示速度やGoogleのPagespeed Insightのスコアなどを考慮して開発を行います。"
      />
      <Card
        title="Maintenancebility - 保守性"
        body="CSSに関してはSassやStylusなどを利用し、HTMLはJSフレームワークやWeb Componentsを利用することなどでメンテナンス性や保守性・拡張性を保持した開発を行うことが出来ます。"
      />
      <Card
        title="Efficiency - 効率化"
        body="作業を行う事で工数をできる限り少なくするためにgulpやWebpackなどのツールを利用して効率化を図っています。エディタは主に Visual Studio Code か WebStormを使用しています。"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
  .container {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .key-visual {
    height: 50vh;
    min-height: 25rem;
    background: url(/img/key_visual.webp) no-repeat;
    background-size: 50%;
    background-position: right bottom;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    color: #7f7f7f;
    font-size: 1rem;
  }
  .name {
    color: #666;
    font-size: min(2vw, 1rem);
    writing-mode: vertical-rl;
    letter-spacing: min(2vw, 1rem);
    transform: rotateY(-30deg) skew(0, -10deg);
    position: absolute;
    right: 1rem;
    bottom: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    min-height: 25vh;
    line-height: 1.6;
    background-color: white;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
  }
</style>
