---
---

<div class="instructions">
  <div class="container">
    <h3>About Me</h3>
    <p>
      2019年からフリーランスのフロントエンドエンジニアとして活動しております。
    </p>
    <p>
      フリーランスになる以前はWeb制作会社で新人教育や人材採用の技術力判定担当をしていました。
    </p>
    <p>
      新人教育をしていた時期は、教える側である事が私自身の技術力に対するモチベーション向上につながり、ステップアップのきっかけにもなったと感じています。
    </p>
    <p>
      私自身が常に技術力向上を目指すと共に、今までの知見や現場で活用した技術をエンジニアを目指す方に提供する事で、フロントエンドエンジニアの価値を向上させることが私の目標です。
    </p>
  </div>
</div>

<style>
  .instructions {
    min-height: 25vh;
    line-height: 1.6;
    background-color: white;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
</style>