---

---
<div class="key-visual site-container js-section" id="kv">
  <h1><span class="text-gradient">Visibleman</span></h1>
  <h2>Web Frontend Developper</h2>
</div>

<style>
  .key-visual {
    height: 50vh;
    min-height: 25rem;
    background: url(/img/key_visual.webp) no-repeat;
    background-size: 50%;
    background-position: right bottom;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
  }
  h1 {
    font-size: 3rem;
    margin: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  h2 {
    color: #7f7f7f;
    font-size: 1rem;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>